Source: stax-ex
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Timo Aaltonen <tjaalton@ubuntu.com>
Build-Depends:
 debhelper (>= 11~),
 default-jdk,
 javahelper,
 junit4,
 libactivation-java,
 libjaxb-api-java,
 libmaven-bundle-plugin-java,
 maven-debian-helper (>= 1.5)
Standards-Version: 4.2.1
Vcs-Git: https://salsa.debian.org/java-team/stax-ex.git
Vcs-Browser: https://salsa.debian.org/java-team/stax-ex
Homepage: https://javaee.github.io/metro-stax-ex/

Package: libstax-ex-java
Architecture: all
Depends: ${maven:Depends}, ${misc:Depends}
Recommends: ${maven:OptionalDepends}
Description: Extended StAX API
 This project develops a few extensions to complement JSR-173 StAX API in the
 following area.
 .
  * Enable parser instance reuse (which is important in the
    high-performance environment like JAXB and JAX-WS)
  * Improve the support for reading from non-text XML infoset,
    such as FastInfoset.
  * Improve the namespace support.
